<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body id="page-top">
  {{ partial "nav-top" . }}
  {{ partial "header" . }}

  <!-- About -->
  <section id="about" class="shade">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Personal information</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Name:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .Params.personal.name }}</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Title:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .Params.personal.title }}</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Date of birth:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .Params.personal.dob }}</div>
      </div>
    </div>
  </section>

  <section id="work-experience" class="shade">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Work experience</h2>
        </div>
      </div>
      {{ range .Params.work_experience }}
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Dates:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .period }}</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Employer:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .employer }}</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Occupation or position held:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .occupation }}</div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Main activities and responsibilities:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">{{ .responsibilities }}</div>
      </div>
      <div class="row bottom-separator">
        <div class="col-lg-4 col-md-4 col-sm-12 text-right label">Projects:</div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          {{ range .projects }}
            <div>{{ with .anchor }} <a href="#{{ . }}" >{{ end }}{{ .name }}{{ with .anchor }}</a>{{ end }}</div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>

  <!-- Services -->
  <section id="services" class="badges">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Education</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline education-list">
            {{ range .Params.education }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-body">
                  <div class="title">{{ .title }}</div>
                  <div class="years">{{ .years }}</div>
                  <div class="degree">{{ .degree}}</div>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- My skills -->
  <section class="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">My skills</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline">
            {{ range $k, $v := .Params.skills }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-heading">
                    <h4>{{ $v.title | markdownify }}</h4>
                </div>
                <div class="serviceline-body">
                  {{ with $v.content}}<p class="text-muted">  {{ . | markdownify }}</p>{{ end }}
                </div>
                <ul class="points text-muted">
                  {{ range $v.points }}
                  <li class="star"><i class="fa fa-star" aria-hidden="true"></i>{{ . | markdownify }}</li>
                  {{ end }}
                </ul>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- My projects -->
  <section class="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Projects</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="serviceline">
            {{ range $k, $v := .Params.projects }}
            <li>
              <div class="serviceline-panel">
                <div class="serviceline-heading">
                    {{ with $v.content}}{{ . | markdownify }}{{ end }}
                    <h4 class="underline" {{ with $v.anchor}} name="{{ . }}"{{ end }}>{{ $v.name | markdownify }}</h4>
                </div>
                <div class="serviceline-body">
                  {{ with $v.desc}}<p class="text-muted tx-pad-vertical">  {{ . | markdownify }}</p>{{ end }}
                </div>
                <ul class="tags text-muted">
                  {{ range $v.tags }}
                  <li class="tag"><i class="fa fa-tag" aria-hidden="true"></i>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>


  {{ partial "footer" . }}
</body>