// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

section {
  padding: 100px 0;
  .section-heading {
    background-color: $theme-primary;
    padding: 30px 0px;
    margin-bottom: 30px;
    h2.section-heading, h3.section-subheading {
        color: #fff;
        margin-bottom: 0;
    }
    font-family: monospace;
  }

  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
  }

  .footer-heading {
    background-color: $gray-lighter;
    padding: 30px 0px;
    margin-bottom: 30px;
    font-family: monospace;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}

.mg-bottom-30{
  margin-bottom: 30px;
}
.mg-top-30{
  margin-top: 30px;
}
.pd-bottom-30{
  padding-bottom: 30px;
}
.pd-top-30{
  padding-top: 30px;
}
.mg-bottom-15{
  margin-bottom: 15px;
}
.mg-top-15{
  margin-top: 15px;
}
.pd-bottom-15{
  padding-bottom: 15px;
}
.pd-top-15{
  padding-top: 15px;
}
