
<li class="clearfix">
  <div class="list-content">
    <div class="courses-content">
        <h6 class="courses-topic"><a href="{{ .Permalink }}"> {{ .Title }}</a></h6>
    </div>
      <div class="meta-post">
          <ul class="pad clearfix chars">
              <li class="post-date"><i class="fa fa-calendar"></i><span class="date-icon">{{ .Date.Format "2006-01-02" }}</span></li>
              {{ with .Params.tags}}
                <li class="post-categories">
                  <i class="fa fa-tag"></i>
                  {{ . }}
              </li>
              {{ end }}
          </ul>
      </div>
      <div class="content">{{ with .Params.intro }} {{ . | markdownify }} {{ end }}</div>
  </div>
</li>