<picture>
  {{ with .image_xl}}
  <source media="(min-width: 1200px)" sizes="90vw" srcset="{{ . }}">
  {{ end }}
  {{ with .image_l}}
  <source media="(min-width: 992px)" sizes="90vw" srcset="{{ . }}">
  {{ end }}
  {{ with .image_m}}
  <source media="(min-width: 768px)" sizes="90vw" srcset="{{ . }}">
  {{ end }}
  {{ with .image_sm}}
  <source media="(min-width: 576px)" sizes="90vw" srcset="{{ . }}">
  {{ end }}
  {{ with .image_xs}}
  <source media="(min-width: 320px)" sizes="90vw" srcset="{{ . }}">
  {{ end }}
  <img src="{{ .image }}" alt="{{ .alt }}">
</picture>