<ul class="list-inline social-buttons">
    {{ with .twitter }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    {{ end }}
    {{ with .facebook }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    {{ end }}
    {{ with .google_plus }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-google-plus"></i>
        </a>
    </li>
    {{ end }}
    {{ with .github }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-github"></i>
        </a>
    </li>
    {{ end }}
    {{ with .linkedin }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    {{ end }}
    {{ with .instagram }}
    <li class="list-inline-item">
        <a target="_blank" href="{{ . }}">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    {{ end }}
</ul>